@page "/about"
@namespace GTIinsight.Pages

<fieldset>
    <legend>
        About
    </legend>
    This tool is created by Jeffrey van der Stad.

    <div class="mt-2">
        <b>Disclaimer</b>
    </div>

    The creator does not guarantee, and accepts no legal liability whatsoever arising from, or connected to, the use of any material contained on this website or on any linked site.<br />
    The creator recommends that users exercise their own skill and care with respect to their use of this website and that users carefully evaluate the accuracy, currency, completeness and relevance of the material on this website for their purposes. 
    This website is not a substitute for independent professional advice and users should obtain any appropriate professional advice relevant to their particular circumstances.
</fieldset>

